@font-face {
    font-family: 'Kanzlei';
    src: url('fonts/Kanzlei.woff') format('woff'), url('fonts/Kanzlei.ttf') format('truetype');
    /*woff Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    /*ttf Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: 'Teen';
    src: url('fonts/Teen.woff') format('woff'), url('fonts/Teen.ttf') format('truetype');
    /*woff Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    /*ttf Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
body {
    background-color: #C7D096;
}
a, p, li, h3, h4, h5 {
    font-family: 'Bookman Old Style', Bookman, 'URW Bookman L', 'Palatino Linotype', serif;
}

.navbar-custom {
    background-color:#665F39;
    color:#ffffff;
    border-radius:0;
    box-shadow: 0px 0 6px #202020;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ABDFC9; 
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}


a.navbar-brand {
    font-size: 3em;
    font-family: 'Kanzlei', 'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
}
/*.new-word-container {
  padding-top: 45px;
  padding-bottom: 35px;
}*/
.container {
    background-color: #ABDFC9;
    box-shadow: 1px 0 2px #888,-1px 0 2px 1px #888;
}
div#manage-btns {
    padding-top: 15px;
}
#new-word {
    text-align: center;
    background-color: #fff;
    font-size: 1.5em;
    margin: 30px 15%;
    width: 70%;
    font-family: 'Teen', 'Bookman Old Style', Bookman, 'URW Bookman L', 'Palatino Linotype', serif;
    padding: 22px 2px;
    box-shadow: 0px 1px 1px #222,-1px -1px 10px #444;
    border-radius: 1em;
}
@media (min-width: 992px) {
    #new-word {
        font-size: 2em;
    }
}
#answer-buttons {
    margin: 2% 6% 0 6%;
}
#answer-buttons p {
    background-color: #fff;
    margin: 0 20%;
    width: 60%;
    padding: 10px 5px;
    font-size: 1.5em;
    font-family: 'Teen', 'Bookman Old Style', Bookman, 'URW Bookman L', 'Palatino Linotype', serif;
    box-shadow: 1px 0 2px #333;
    border-radius: 0.8em;
}
.answers {
    margin: 20px 6%;
    width: 38%;
    background-color: #fff;
}
/* Set the fixed height of the footer here */

.statistics {
    height: auto;
    width: 100%;
    background-color: #665F39;
    padding-top: 14px;
    padding-bottom: 20px;
    display: inline-block;
    color: #eee;
}

#container-answers {
    background-color: #F3F3E0;

}
.answers {
    list-style: none;
    padding: 0 0;
    width: 80%;
    background-color: #F3F3E0;
}
.answers li {
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: #C7D096;
    font-size: 1.2em;
    box-shadow: 1px 0 2px #888;
}
